*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --light-grey:#F9F5FF;
    --gray-300: #D0D5DD;
    --gray-500: #667085;
    --gray-900: #101828;
    --primary-700: #6941C6;
    --primary-900: #42307D;
    --white: #fff;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.radius-125 {
    border-radius: 1.25rem;
}


.m-width {
	max-width: 1440px;
	margin: 0 auto;
}