/* Section 3 styles beginning */
#section3 {
  background-color: #f3f3f3;
}

.section-3-container {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  height: 62rem;
  margin-bottom: 4rem;
}

.welcome {
  background-image: url("../assets/img/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  position: relative;
}

.section-3-container .text {
  position: absolute;
  left: 6.25rem;
  bottom: 6.37rem;
}

.section-3-container .community-t {
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 3.54338rem;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2rem;
}

/* button */
.section-3-container .join {
  display: inline-flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 22px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.section-3-container .join:hover {
  background-color: #a340a8;
}

.section-3-container .login {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.section-3-container .div {
  width: 20.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  flex: 0 0 auto;
}

.section-3-container .text-email {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.section-3-container .text-1 {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1rem;
}

.section-3-container .text-2 {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.section-3-container .input-frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
}

.section-3-container .email-frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 0 0 auto;
  width: 100%;
}

.section-3-container .email-field {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 7px;
  width: 100%;
}

.email-field input,
.password-field input {
  border: none;
  width: 100%;
}

.section-3-container .text-3 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #040101;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.section-3-container .password-field {
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
}

.section-3-container .login-button {
  display: flex;
  align-self: stretch;
  width: 100%;
  background-color: #1e1e1e;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 22px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.section-3-container .login-button:hover {
  background-color: #7f7171;
}

.section-3-container .text-4 {
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #fbf6f6;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

/* login ----2 */
.login-2 {
  padding-bottom: 100px;
  background-color: #f3f3f3;
}

.login-2 .overlap-group {
  /* height: 1024px; */
  background-image: url("../assets/img/Rectangle\ 3.png");
  background-size: 100% 100%;
}

.login-2 .frame {
  flex-direction: column;
  align-items: flex-start;
  gap: 46.29px;
  top: 336px;
  left: 152px;
  display: inline-flex;
  position: relative;
}

.login-2 .welcome-to-the {
  margin-top: -1.45px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  font-size: 82px;
  position: relative;
  width: fit-content;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.login-2 .text-wrapper {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 24px;
  position: relative;
  width: fit-content;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.login .div-wrapper {
  align-items: center;
  justify-content: center;
  gap: 14.47px;
  padding: 17.36px 31.82px;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 11.57px;
  display: inline-flex;
  position: relative;
}

.login-2 .div {
  position: relative;
  width: fit-content;
  margin-top: -1.45px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

/* login -----1 */
.login-1 .login-1-group {
  height: 1024px;
  background-image: url("../assets/img/Rectangle\ 2.png");
  background-size: 100% 100%;
  position: relative;
}

.login-1 .frame-login-1 {
  flex-direction: column;
  align-items: flex-start;
  gap: 46.29px;
  top: 336px;
  left: 152px;
  display: inline-flex;
  position: absolute;
}

.login-1 .wback {
  font-family: "Inter-ExtraBold" Helvetica;
  font-size: 82px;
  color: #ffffff;
  letter-spacing: 0;
  position: relative;
}

.login-1 .l-p-text {
  font-family: "Inter" Helvetica;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.login-1 .div-btn {
  display: inline-flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 22px;
  flex: 0 0 auto;
  border-radius: 11.57px;
  cursor: pointer;
}

.login-1 .div-btn:hover {
  background-color: #2bcc07;
}

.login-1 .div {
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  width: fit-content;
  color: #0c0303;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

/* profile ------ */
.profile {
  min-height: 64rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.81rem;
  padding: 1rem;
}

.profile .wrapper {
  max-width: 32.3125rem;
}

.wrapper img {
  width: 100%;
}

.profile .p-wrapper {
  padding: 40px;
  background-color: #ffffff;
}

.profile .p-text-1 {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 24px;
  color: #1e1e1e;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1rem;
}

.profile .p-text-2 {
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

@media (max-width: 768px) {
  .section-3-container {
    flex-direction: column;
    /* align-items: flex-start; */
    /* height: 64rem; */
  }

  .welcome,
  .login {
    width: 100%;
  }

  .section-3-container .text {
    left: 2.9rem;
    bottom: 4.13rem;
  }

  .section-3-container .community-t {
    font-size: 2rem;
  }

  .login-1 .login-1-group {
    height: 38.1875rem;
    /* height: auto; */
  }

  .login-1 .frame-login-1 {
    left: 1.63rem;
    bottom: 2.64rem;
    top: unset;
    gap: 0;
  }

  .login-1 .wback {
    font-size: 2rem;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0.75rem;
  }

  .login-1 .l-p-text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
  }

  .profile {
    flex-direction: column;
  }

  .profile .p-wrapper {
    padding: 1.8rem 1.5rem;
  }
}